.african-title {
    position: absolute;
    width: 821px;
    height: 59px;
    left: 309px;
    top: 4048px;
}

.african-info-1 {
    position: absolute;
    width: 443px;
    height: 320px;
    left: 174px;
    top: 4176px;
}
.african-img-1 {
    position: absolute;
    width: 526px;
    height: 320px;
    left: 740px;
    top: 4176px;
}
.african-caption-1 {
    position: absolute;
    width: 310px;
    height: 42px;
    left: 848px;
    top: 4524px;
}

.african-img-2 {
    position: absolute;
    width: 353px;
    height: 265px;
    left: 174px;
    top: 4545px;
}
.african-caption-2 {
    position: absolute;
    width: 263px;
    height: 42px;
    left: 219px;
    top: 4832px;
}
.african-info-2 {
    position: absolute;
    width: 649px;
    height: 228px;
    left: 617px;
    top: 4636px;
}
