.chinese-title {
    position: absolute;
    width: 471px;
    height: 59px;
    left: 483px;
    top: 5103px;
}

.chinese-info-1 {
    position: absolute;
    width: 879px;
    height: 103px;
    left: 280px;
    top: 5214px;
}

.chinese-img-1 {
    position: absolute;
    width: 508px;
    height: 313px;
    left: 174px;
    top: 5383px;
}
.chinese-caption-1 {
    position: absolute;
    width: 263px;
    height: 21px;
    left: 297px;
    top: 5720px;
}
.chinese-info-2 {
    position: absolute;
    width: 476px;
    height: 358px;
    left: 790px;
    top: 5383px;
}

.chinese-info-3 {
    position: absolute;
    width: 508px;
    height: 455px;
    left: 174px;
    top: 5845px;
}
.chinese-img-2 {
    position: absolute;
    width: 476px;
    height: 364px;
    left: 790px;
    top: 5901px;
}
.chinese-caption-2 {
    position: absolute;
    width: 263px;
    height: 21px;
    left: 896px;
    top: 6284px;
}
